.squadContainer {
    width: 500px;
    height: 300px;
    background-image: linear-gradient(#A5C882, #516240);
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: 20px;
    z-index: 1;
}

.projects {
    width: 220px;
    height: 70px;
    background-image: linear-gradient(#5AB1BB, #006874);
    color: white;
    font-size: 0.7em;
    cursor: pointer;
    padding: 5px;
    clip-path: polygon(20px 0,
            100% 0,
            100% 100%,
            0 100%,
            0 20px);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.projectShadow {
    position: relative;
    width: fit-content;
    height: fit-content;
}

/* OMBRA vera */
.projectShadow::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: translate(0, 6px) scale(1.);
    filter: blur(10px);
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.projects p {
    margin: 0;
}

.pokeballBg {
    z-index: -1;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.7;
    width: 40px;
}

.projectsHeader {
    width: 70%;
    text-align: left;
    align-self: flex-start;
    margin-left: 43px;
    position: relative;
}

.hp {
    width: 70%;
    height: 7px;
    background-color: #00FF00;
    box-shadow: 0px 0px 2px black;
    border-radius: 2px;
    align-self: flex-end;
    margin: 12px 5px;
    margin-bottom: 10px;
}

.projectDetails {
    display: flex;
    justify-content: space-between;
}

.projectLogo {
    position: absolute;
    border-radius: 10px;
    right: 15px;
    top: 4px;
    width: 28px;
}