.squadContainer {
    width: 500px;
    height: 300px;
    background-image: linear-gradient(#A5C882, #516240);
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: 20px;
}

.projects {
    width: 220px;
    height: 70px;
    background-image: linear-gradient(#5AB1BB, #006874);
    color: white;
    font-size: 0.7em;
    cursor: pointer;
    padding: 5px;
    clip-path: polygon(20px 0,
            100% 0,
            100% 100%,
            0 100%,
            0 20px);
    text-align: center;
}