.trainercard {
    width: 600px;
    height: 250px;
    background-color: #AB4967;
    border-radius: 10px;
    position: relative;
    z-index: -2;
    padding: 0px 20px;
}

.trainercard::before {
    content: "";
    width: 250px;
    height: 250px;
    left: 5%;
    position: absolute;
    background-image: url("./../../assets/pokeball-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-45deg);
    opacity: 0.7;
    z-index: -1;
}

.trainerCardInfoContainer {
    display: flex;
    gap: 20px;
}

.trainerCardHeader h2 {
    font-size: 1.1em;
    color: white;
    text-align: center;
}

.trainerInfo {
    list-style: none;
    padding: 0;
    flex-grow: 2;
}

.trainerInfo li {
    background-color: #d9d9d9bc;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.trainerInfo li:nth-of-type(3) {
    margin: 15px 5px;
}

.trainerInfo li:nth-of-type(3) p:nth-of-type(2) {
    font-size: 0.65em;
}

.trainerInfo p {
    display: inline-block;
    margin: 0;
    font-size: 0.7em;
    color: white;
}

.trainerIcons {
    width: 40%;
    height: 200px;
    background-color: red;
}

.trainerCardHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.trainerCardHeader .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("./../../assets/pokeball-star.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.trainerInfo .italy-flag {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("./../../assets/italy-flag.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 3px;
}