@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
}
body{
    background-color: #1E1E1E;
}